@font-face {
    font-family: 'gilroylight';
    src: url('font/gilroy-light-webfont.woff2') format('woff2'),
         url('font/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

.container {
    font-family: 'gilroylight', sans-serif;
}

/* _________________________NAVBAR_________________________ */
nav {
    height: 110px;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.logo {
    font-size: 36px;
}

.burger {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.menu-open {
    position: fixed;
    z-index: 109;
    right: -11px;
    height: 300px;
    border-radius;
    width: 160px;
    background-color: #14CF93;
    border-top-left-radius: 130px;
    border-bottom-left-radius: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    display: none;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-name: slide-in;
  }

@keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
 

.croix {
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.list-open {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
}


li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000000;
    transition: width 0.3s ease-in-out;
}
li:hover::after {
    width: 100%;
}

.menu {
    display: none;
    list-style-type: none;
    font-size: 22px;
    font-weight: bolder;
}
.menu li {
    cursor: pointer;
}
.numero {
    color: #14CF93;
}

/* FIN NAVBAR */

/* _________________________PREMIERE SECTION_________________________ */
main {
    height: 100vh;
}

.s1 {
    height: 100vh;
    padding-top: 120px;
    background-color: #F5F5F5;
 
}

.nom-image {
    padding-top: 6%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.nom {
    font-size: 18px;
    font-weight: bolder;
}

.dev {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 30px;
}
.junior {
    text-transform: uppercase;
    color: #14CF93;
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
    padding: 0 10%;
    letter-spacing: 3px;
}
.hi{
    width: 250px;
    height: 250px;
    margin-top: -50px;
}

.para {
    margin: 10% 10%;
}

.p-contact {
    font-weight: bolder;
    cursor: pointer;
}

.stack-cv {
    display: flex;
    flex-direction: column;
}

.stack {
    margin: 0 auto;
}

.svg {
    width: 50px;
    height: 50px;
    margin-left: 8px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.cv {
    padding-top: 7%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.hii {
    display: none;
}

/* FIN S1 */
/* _________________________SECONDE SECTION_________________________ */

.s2 {
    background-color: #F5F5F5;
    padding-bottom: 30px;
}
.titre-wrapper {
    display: flex;
    justify-content: center;
}
.sous-titre {
    padding-top: 10px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
}
.projets {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: #F9F9F9;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}
.projets:hover {
    opacity: 80%;
    transition: box-shadow 1s;
    box-shadow: 2px 2px 2px #14CF93;
}
.lettre {
    color: #14CF93;
    font-style: italic;
    margin-right: 6px;
}
.couverture {
    width: 150px;
    height: 100px;
}
.desc {
    padding-top: 10px;
    margin: 0 5%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techno {
    padding-top: 10px;
}
.git {
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
.git-svg {
    widh: 30px;
    height: 30px;
}
.swiper {
    width: 400px;
    height: 400px;
  }

/* Fin section 2 */

/* _________________________TROISIEME SECTION_________________________ */
.s3 {
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 100px;
}

.mail {
    font-weight: bolder;
}

.desc2 {
    margin: 0% 10% 5% 10%;
    text-align: center;
}

  form {
    margin: auto;
    width: 55%;
    border-radius: 10px;
    background-color: #F9F9F9;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit] {
    background-color: #111111;
    transition: background-color 0.3s ease;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.submit {
    display: flex;
    justify-content: center;
 
}
input[type=submit]:hover {
    background-color: #14CF93;
    color: black;

}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container > * {
    flex-basis: 100%;
    margin-bottom: 20px;
}
.container > *:not(:last-child) {
    margin-right: 10px;
}
input:focus, textarea:focus {
    outline: none;
    border: 2px solid #14CF93;
    opacity: 70%;
}
.msg {
    text-align: center;
}





/* MEDIA QUERY */

@media screen and (min-width: 768px) {
    .hi{
        width: 300px;
        height: 300px;
        margin-top: -60px;
    }
    .nom-image {
        padding-top: 5%;
    }

    .para {
        margin: 5% 10%;
    }
    .cv {
        padding-top: 5%;
    }
    .svg {
        width: 70px;
        height: 70px;
        margin-left: 30px;
    }
    .titre-wrapper {
        padding-top: 20px;
    }
    
    
}

@media screen and (min-width: 1024px) {
.burger {
    display: none;
}

.menu  {
    display: flex;
    gap: 50px;
}

.titre-wrapper {
    padding-top: 50px;
}

.para {
    font-size: 19px;
}
.des2 {
    font-size: 19px;
}
}

@media screen and (min-width: 1220px) {
   
    .nom-image {
        padding-top: 6%;
        display: flex; 
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;

    }
    .wrapper {
        align-items: start;
    }
    .nom {
        font-size: 36px;
    }
    .dev{
        font-size: 65px;
        font-weight: lighter;
    }
    .junior{
        font-size: 45px;
        letter-spacing: 2px;
    }
    .hi {
        display: none;
    }
    .hii {
        display: block;
        width: 350px;
        height: 350px;
        margin-top: -140px;
    }
    .para {
        font-size: 20px;
    }
    .desc2 {
        font-size: 20px;
    }
    .stack-cv {
        padding-top: 5%;
      flex-direction: row;
      justify-content: space-between;
    }
    .stack {
        margin: 0;
        padding-left: 10%;
    }
    .cv {
        padding-right: 20%;
        padding-top: 0;
    }
    .sous-titre {
        font-size: 45px;
        font-weight: lighter;
    }
    .projets {
        width: 600px;
        border-radius: 2%;

    }
    .swiper {
        width: 750px;
      }
      .couverture {
        padding-bot: 20px;
      }
      .desc {
        padding-top: 20px;
    }
    .techno {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .desc2 {
        margin: 0% 10% 2% 10%;
    }
}

@media screen and (min-width: 1440px) {
    nav {
        padding: 0 17%;
    }
    .nom-image {
        padding-left: 17%;
        padding-right: 17%;
    }
    .para {
            margin: 5% 17%;
        }
    .stack-cv {
        padding-top: 0%;
    }
    .stack {
        padding-left: 17%;
    }

}


@media screen and (min-width: 1620px) {
    nav {
        padding: 0 20%;
    }
    .nom-image {
        padding-left: 20%;
        padding-right: 20%;
    }
    .para {
        margin: 5% 20%;
    }
    .stack {
        padding-left: 20%;
    }
    .cv {
        padding-right: 27%;
    }
    
}



@media screen and (max-width: 375px) {
   .s1 {
    height: auto;
   }
    
}
    
